
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #929297;
    color: #333;
    line-height: 1.7;
}

header {
    background: #243444;
    color: rgb(164, 133, 162);
    padding: 20px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}


main {
    width: 80%;
    margin: 30px auto;
}
section {
    background: rgb(219, 189, 189);
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
h2 {
    color: #2563eb;
    margin-bottom: 10px;
}
img {
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    max-width: 100%;
    height: auto;
    border: 4px solid #efeaed;
}
ul {
    padding-left: 20px;
}

ul li {
    padding: 7px 0;
}
footer {
    text-align: center;
    padding: 20px;
    background: #1f2937;
    color: white;
    margin-top: 40px;
    font-size: 14px;
}
